header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
section {
  width: 100%;
  height: 300px;
  background: #ccc;
  float: left;
}
.left {
  width: 20%;
  height: 100%;
  background: red;
  text-align: center;
  float: left;
}
.main{
  width: 60%;
  height: 100%;
  background: green;
  text-align: center;
  float: left;  
}
.right{
  height: 100%;
  background: red;
  text-align: center;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  padding: 20px;
}